<%= form_for(@topic) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :Newsletter_Name %>
    <%= f.text_field :description, class: "form-control",placeholder:"eg daily summaries of my favourite techcrunch articles",:autofocus => true %>
  </div>

  <div class="form-group">
    <%= f.label :created_by %>
    <%= f.text_field :author, class: "form-control",placeholder:"That would be your name",:autofocus => true %>
  </div>
  
  <p style="color:red"> by clicking 'CREATE NEWSLETTER' you are agreeing to submit to iscoop a new issue of your newsletter <b>everyday</b></p>
  <div class="actions">
    <%= f.submit "CREATE NEWSLETTER", class: "btn btn-primary" %>
  </div>
<% end %>
