

 



<%= form_for(@topic) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :Newsletter_Description %>
    <%= f.text_field :description, class: "form-control",placeholder:"eg summary of top techcrunch articles",:autofocus => true %>
  </div>

  <div class="form-group">
       <%= f.label :frequency %>
       <%= f.text_field :frequency, placeholder:"Inform  subscribers how often you will be publishing ", class: "form-control", :autofocus => true %>
     </div>

      <div class="field">
       <%= f.select :time, options_for_select(%w[Mornings Afternoons Evenings]) ,{:prompt => 'choose a time of the day  you will be publishing'}%>
       
     </div><br>

  <div class="form-group">
    <%= f.label :created_by %>
    <%= f.text_field :author, class: "form-control",placeholder:"choose the name you want to appear on the newsletter",:autofocus => true %>
  </div>
  
  
  <div class="actions">
    <%= f.submit "CREATE NEWSLETTER", class: "btn btn-primary" %>
  </div>
<% end %>


