

 



<%= form_for (@topic) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :user_name %>
    <%= f.text_field :description, class: "form-control",placeholder:" your page url will be iscoop.co/'username'",:autofocus => true %>
  </div>

  <div class="form-group">
    <% f.label :Your_Name %>
    <% f.text_field :author, class: "form-control",placeholder:"People can find your newsletter by the name you enter here",:autofocus => true %>
  </div>

  

  <div class="form-group">
    <%= f.label :Welcome_Message %>
    <%= f.text_field :welcome_message, class: "form-control",placeholder:"This will show up on your newsletter sign-up page",:autofocus => true %>
  </div>

  <div class="form-group">
       <% f.label :frequency %>
       <% f.text_field :frequency, class: "form-control", placeholder:"Let your them know how often you will be publishing..dily, weekly etc" ,:autofocus => true %>
     </div>

      <div class="form-group">
    <% f.label :category %>
    <% f.text_field :tag_list, class: "form-control",placeholder:"eg fashion..one word only",:autofocus => true %>
  </div>


  
  
  <div class="actions">
    <%= f.submit "CREATE PAGE", class: "btn btn-primary" %>
  </div>
<% end %>


