   
    <div class="container">
    
    <% @topics.order("created_at DESC").each do |topic| %>   
    <div class="topics">
    <p> <%= link_to topic.description, topic_path(topic) %> by 
     <%= topic.author if topic.author %><br> published <b style="color:red"><%= topic.frequency if topic.frequency %></b> in the <b style="color:red"><%= topic.time if topic.time %></b> </p>
   
    </div>
    <hr>
    <% end %>
   </div>     

   <%= link_to 'Back', my_topics_path %>





