


<p id="notice"></p>

  <div align="center">

 <h2 class="topic-author"> <%=@topic.author if @topic.author %> </h2>

  <h4 class="topic-welcome"><%=@topic.welcome_message if @topic.welcome_message %></h4>
  
  </div><br><br>
  
  
  
  <% if current_user.follows?(@topic) %>  

  <%= form_for(@topic, url: topic_path(@topic)) do |f| %>
  
  <div class = "actions"> <%= f.submit "UnSubscribe", class: "btn btn-primary btn-lg" %> </div>
  <% end %> <br> 
     
   <% else %>
  
  <%= form_for(@topic, url: topic_path(@topic)) do |f| %>
  <div class = "actions"> <%= f.submit "Subscribe" ,class: "btn btn-primary btn-lg" %> </div>
  <% end %> <br>

<% end %> 

<div>

<h3>Subscribers</h3>
<B style="color:blue"><%=@topic.followers(User).count %></B>

</div><br><br>

<div>




<% @topic.links.order("created_at DESC").each do |l| %>

<p style="font-family:tahoma;color:#7f8c8d;margin-left:0px"> <%= time_ago_in_words(l.created_at) %> ago</p>

<%# view to show the images uploaded %> 
 <% l.link_attachments.each do |p| %>
  <p><%= image_tag p.avatar_url %></p>
 <% end %>

 
 <%# view to show the embeded stuff %>
 <a class= "embedly-card" href= "<%= l.url %>"></a>
 <a class= "embedly-card" href= "<%= l.url2 %>"></a>
 <a class= "embedly-card" href= "<%= l.url3 %>"></a>
 <a class= "embedly-card" href= "<%= l.url4 %>"></a>
 <a class= "embedly-card" href= "<%= l.url5 %>"></a>
 <p style="color:#3498db"><%=l.likers(User).count %> like(s) <B style="color:#7f8c8d"><%= "#{l.impressionist_count} view(s)" %> </B> </p>

 <% end %> 


</div>

    
  










