<p id="notice"><%= notice %></p>


  
  <h4><%= @topic.description %> by <%= @topic.author %></h4>
  
  <% if current_user.follows?(@topic) %>  

  <%= form_for(@topic, url: topic_path(@topic)) do |f| %>
  <div class = "actions"> <%= f.submit "Unfollow" %> </div>
  <% end %> <br> 
     
   <% else %>
  
  <%= form_for(@topic, url: topic_path(@topic)) do |f| %>
  <div class = "actions"> <%= f.submit "Follow" %> </div>
  <% end %> <br>

<% end %> 

    
  
<% @topic.links.order("created_at DESC").each do |l| %>
<div>
<p><%= l.description %></p>
<p style="font-family:tahoma;color:#7f8c8d;margin-left:0px"><%= time_ago_in_words(l.created_at ) %> ago</p>


 <p style=font-size:15px > <%= link_to "click for today's issue", l.url,{:style=>'color:#3333D6;',:class => "css_class"} %> </p>
 
 </div>
  <% end %>
  <hr>
 
  

<%= link_to 'Back', topics_path %>



