
<% if user_signed_in? %>

<p id="notice"><%= notice %></p>

  <div align="center">
  <h2> <%=@topic.description %></h2>
  by <b style="color:red"><%=@topic.author %></b>
  </div><br><br>
  
  <p> <%=@topic.welcome_message %></p>
  
  <% if current_user.follows?(@topic) %>  

  <%= form_for(@topic, url: topic_path(@topic)) do |f| %>
  
  <div class = "actions"> <%= f.submit "UnFollow", class: "btn btn-default btn-lg" %> </div>
  <% end %> <br> 
     
   <% else %>
  
  <%= form_for(@topic, url: topic_path(@topic)) do |f| %>
  <div class = "actions"> <%= f.submit "Follow" ,class: "btn btn-default btn-lg" %> </div>
  <% end %> <br>

<% end %> 

<div>

<h3>followers</h3>
<B style="color:blue"><%=@topic.followers(User).count %></B>
</div><br><br>
    
  
<% @topic.links.order("created_at DESC").each do |l| %>

<div>
<p style="font-family:tahoma;color:#7f8c8d;margin-left:0px"> posted <%= time_ago_in_words(l.created_at ) %> ago</p>
</div>

<div class="panel panel-default">
<div style="background-color:#ecf0f1;font-family:verdana" class="panel-heading"> 
	<p style="font-size:16px"><%= @topic.author %><br>
	<%= @topic.description %> Newsletter </p> 
</div> <br>

<div class="panel-body">
<p><%= image_tag l.image.url (:medium) %></p><br>
<p style="color:#34495e"><%= l.description %></p>
</div> 




<div style="background-color:#ecf0f1" class="panel-footer"><p>Thank you for reading my newsletter. Come back for the next issue</p>
</div>

</div>


<hr>

<% end %>

<% else %>

<p> Ok login or sign up before following this newsletter. its easy just your email and password</p>

<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
 <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default btn-lg" %>

 <% end %>


 
  




