<p id="notice"><%= notice %></p>


  
  
  
  <% if current_user.follows?(@topic) %>  

  <%= form_for(@topic, url: topic_path(@topic)) do |f| %>
  
  <div class = "actions"> <%= f.submit "UnFollow" %> </div>
  <% end %> <br> 
     
   <% else %>
  
  <%= form_for(@topic, url: topic_path(@topic)) do |f| %>
  <div class = "actions"> <%= f.submit "Follow" %> </div>
  <% end %> <br>

<% end %> 

    
  
<% @topic.links.order("created_at DESC").each do |l| %>

<div>

<p style="font-family:tahoma;color:#7f8c8d;margin-left:0px"> posted <%= time_ago_in_words(l.created_at ) %> ago</p>


</div>

<div class="panel panel-default">

<div style="background-color:#34495e;color:white" class="panel-heading"><%= @topic.author %>'s <%= @topic.description %> Newsletter </h4></div><br>

<div class="panel-body">
<p><%= image_tag l.image.url (:medium) %></p><br>
<p style="color:#34495e"><%= l.description %></p>
</div>





<div style="background-color:#34495e;color:white" class="panel-footer">Thank you for reading my newsletter. come back for the next issue
</div>

</div>


<hr>

<% end %>

 
  

<%= link_to 'Back', topics_path %>



