<p id="notice"><%= notice %></p>


  
  
  
  <% if current_user.follows?(@topic) %>  

  <%= form_for(@topic, url: topic_path(@topic)) do |f| %>
  <div class = "actions"> <%= f.submit "UnFollow" %> </div>
  <% end %> <br> 
     
   <% else %>
  
  <%= form_for(@topic, url: topic_path(@topic)) do |f| %>
  <div class = "actions"> <%= f.submit "Follow" %> </div>
  <% end %> <br>

<% end %> 

    
  
<% @topic.links.order("created_at DESC").each do |l| %>

<div>

<p style="font-family:tahoma;color:#7f8c8d;margin-left:0px"> posted <%= time_ago_in_words(l.created_at ) %> ago</p>


</div>

<div class="jumbotron center">
<%= @topic.author %><br><br>
<h4 style="color:red"><%= @topic.description %> Newsletter </h4><br><br>
<div>
<%= image_tag l.image.url (:medium) %>
</div><br>

<div>
<p style="color:#7f8c8d;font-weight:bold"><%= l.description %><p>
</div>

</div>

<hr>

<% end %>

 
  

<%= link_to 'Back', topics_path %>



