<p id="notice"><%= notice %></p>


  
  
  
  <% if current_user.follows?(@topic) %>  

  <%= form_for(@topic, url: topic_path(@topic)) do |f| %>
  
  <div class = "actions"> <%= f.submit "UnFollow" %> </div>
  <% end %> <br> 
     
   <% else %>
  
  <%= form_for(@topic, url: topic_path(@topic)) do |f| %>
  <div class = "actions"> <%= f.submit "Follow" %> </div>
  <% end %> <br>

<% end %> 

<div>

followers<br>
<B style="color:blue"><%=@topic.followers(User).count %></B>
</div><br><br>
    
  
<% @topic.links.order("created_at DESC").each do |l| %>

<div>
<p style="font-family:tahoma;color:#7f8c8d;margin-left:0px"> posted <%= time_ago_in_words(l.created_at ) %> ago</p>
</div>

<div class="panel panel-default">
<div style="background-color:#ecf0f1;font-family:verdana" class="panel-heading"> 
	<p style="font-size:16px"><%= @topic.author %><br>
	<%= @topic.description %> Newsletter </p> 
</div> <br>

<div class="panel-body">
<p><%= image_tag l.image.url (:medium) %></p><br>
<p style="color:#34495e"><%= l.description %></p>
</div> 




<div style="background-color:#ecf0f1" class="panel-footer"><p>Thank you for reading my newsletter. Come back for the next issue</p>
</div>

</div>


<hr>

<% end %>

 
  

<%= link_to 'Back', topics_path %>



