<p id="notice"><%= notice %></p>


  
  <h4><%= @topic.description %> by <%= @topic.author %></h4>
  
  <% if current_user.follows?(@topic) %>  

  <%= form_for(@topic, url: topic_path(@topic)) do |f| %>
  <div class = "actions"> <%= f.submit "UnSubscribe" %> </div>
  <% end %> <br> 
     
   <% else %>
  
  <%= form_for(@topic, url: topic_path(@topic)) do |f| %>
  <div class = "actions"> <%= f.submit "Subscribe" %> </div>
  <% end %> <br>

<% end %> 

    
  
<% @topic.links.order("created_at DESC").each do |l| %>

<div>

<p style="font-family:tahoma;color:#7f8c8d;margin-left:0px"> posted <%= time_ago_in_words(l.created_at ) %> ago</p>

<p style=font-size:15px > <% link_to "click to view this as a webpage", l.url,{:style=>'color:#3333D6;',:class => "css_class"} %> </p>



</div>


<iframe src= "<%= l.url %>" frameborder="0" style="height: 400px; overflow:scroll; width: 60%" marginheight="1" marginwidth="1" name="cboxmain" id="cboxmain" seamless="seamless" scrolling="yes" frameborder="0" allowtransparency="true"></iframe><br><br> 

<hr>
<% end %>

 
  

<%= link_to 'Back', topics_path %>



