


<p id="notice"></p>

  <div align="center">

 <p><%=@topic.author if @topic.author %> by <%=@topic.user.name if @topic.user.name %></P>

  <p><%=@topic.welcome_message if @topic.welcome_message %></P>
  
  published <b style="color:red"><%=@topic.frequency if @topic.frequency %></b> 
  </div><br><br>
  
  
  
  <% if current_user.follows?(@topic) %>  

  <%= form_for(@topic, url: topic_path(@topic)) do |f| %>
  
  <div class = "actions"> <%= f.submit "UnSubscribe", class: "btn btn-primary btn-lg" %> </div>
  <% end %> <br> 
     
   <% else %>
  
  <%= form_for(@topic, url: topic_path(@topic)) do |f| %>
  <div class = "actions"> <%= f.submit "Subscribe" ,class: "btn btn-primary btn-lg" %> </div>
  <% end %> <br>

<% end %> 

<div>

<h3>Subscribers</h3>
<B style="color:blue"><%=@topic.followers(User).count %></B>

</div><br><br>

<div>

<% @topic.links.order("created_at DESC").each do |l| %>

<p style="font-family:tahoma;color:#7f8c8d;margin-left:0px"> <%= time_ago_in_words(l.created_at) %> ago</p>

 <a class= "embedly-card" href= "<%= l.url %>"></a>
 <a class= "embedly-card" href= "<%= l.url2 %>"></a>
 <a class= "embedly-card" href= "<%= l.url3 %>"></a>
 <a class= "embedly-card" href= "<%= l.url4 %>"></a>
 <a class= "embedly-card" href= "<%= l.url5 %>"></a>

 <% end %> 


</div>

    
  










