<p id="notice"><%= notice %></p>


  <strong>Topic description:</strong>
  <%= @topic.description %>

  <%= form_for(@topic, url: topic_path(@topic)) do |f| %>
  <div class = "actions"> <%= f.submit "follow" %> </div>
  <% end %> 
    
  
  <% @topic.links.each do |l| %>
   <p><%= l.description %></p>
   <p><%= l.url %></p>
  <% end %>
 
  

<%= link_to 'Back', topics_path %>



