
     <div>
      
    <% if user_signed_in? %>


<%# if dont have any newsletter%>
<% if current_user.topics.blank? %>

<P> YOU HAVENT CREATED A PAGE YET. WHY DONT YOU CREATE ONE START SHARING WITH YOUR FRIENDS</P>

<%= link_to "CREATE PAGE", new_topic_path, class: "btn btn-default btn-lg" %>

<% else %>

<%= link_to "UPLOAD PHOTOS", new_link_path, class: "btn btn-default btn-lg" %><br><br><br>




  <h3> MY PAGE(S):</h3>
   <% current_user.topics.order("created_at DESC").each do |l| %>
  <P> <%= link_to l.description, topic_path(l) %></P><br><br>

<% end %> 
<% end %> 
                  

    

  <% else %>
     
  <h3 class="intro-welcome"> Iscoop gives you a personal website where you can upload your important photos to.</h3> 

  <p>you can ask your friends to subscribe to your site and anytime you upload photos, all your subscribers will get a link to the post via sms.</p>
  
  <h3 class="intro-welcome"> why upload to a personal site</h3>
   <p>When you share your photos on social media Only a small percentage of your friends will get to see them and you can't decide who gets to see them.</p>

   <p>uploading the photos to your personal site ensures thay the people you care about don't miss out on important stuff you share</p>  
      
  <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default btn-lg" %><br><br>
  <% end %> 
  
  </div>  

