
     <div>
      
    <% if user_signed_in? %>


<%# if dont have any newsletter%>
<% if current_user.topics.blank? %>

<P> YOU HAVENT CREATED A PAGE YET. WHY DONT YOU CREATE ONE START SHARING WITH YOUR FRIENDS</P>

<%= link_to "CREATE PAGE", new_topic_path, class: "btn btn-default btn-lg" %>

<% else %>

<%= link_to "SHARE PHOTOS", new_link_path, class: "btn btn-default btn-lg" %><br><br><br>




  <h3> MY PAGE(S):</h3>
   <% current_user.topics.order("created_at DESC").each do |l| %>
  <P> <%= link_to l.description, topic_path(l) %></P><br><br>

<% end %> 
<% end %> 
                  

    

  <% else %>
     
  <h3 class="intro-welcome"> When you share your photos on social media Only a small percentage of your friends will get to see them and you can't decide who get to see them.</h3> 
  
  <h4 class="intro-welcome">signup with Iscoop to make sure the people you care about don't miss out on photos you share.<br>
  Iscoop gives you a personal page where you can upload your photos to. You can invite your friends to subscribe to your page and anytime you upload photos, all your friends will get a link to the post via sms, that way no one misses out on your important photos.</h4>  
      
  <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default btn-lg" %><br><br>
  <% end %> 
  
  </div>  

