
     <div>
      <% if user_signed_in? %>



      <%= link_to "CREATE A PAGE", new_topic_path, class: "btn btn-default btn-lg" %><br><br>

      <%= link_to "NEW POST", new_link_path, class: "btn btn-default btn-lg" %><br><br>

      
     

      
     <% current_user.topics.each do |topic| %>
     <p><%= link_to "MY PAGE", topic_path(topic) %> </p>
     
     <% end %>
           
  <% else %>
     
  <p>Iscoop is an sms personal newsletter service that lets you curate all your social media activities on one page </p>

  <p> Its an exclusive medium to engage with your most passionate followers and make sure they don't miss anything you post across all social media platforms</p>

  <p>sign up, create a page, then share the url of the page to potential subscribers. anytime you publish a new post, they will get a text message with a link to your post.</p>     

       
        
  <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default btn-lg" %>
  <% end %> 
  </div>  

