
     <div>
      <% if user_signed_in? %>



      <%= link_to "CREATE A PAGE", new_topic_path, class: "btn btn-default btn-lg" %><br><br>

      <%= link_to "NEW POST", new_link_path, class: "btn btn-default btn-lg" %><br><br>

      
     

      
     <% current_user.topics.each do |topic| %>
     <p><%= link_to "MY PAGE", topic_path(topic) %> </p>
     
     <% end %>
           
  <% else %>
     
  <p>Iscoop let's you create a personal page where you can easily embed your posts across all social media platforms. </p>

  <p> It ensures that your most passionate subscribers don't miss out on anything you posted across all social media platforms. check out the demo</p>

 <iframe width="420" height="315" src="//www.youtube.com/embed/OP75H6hn2X0" frameborder="0" allowfullscreen></iframe><br>    

       
        
  <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default btn-lg" %>
  <% end %> 
  </div>  

