
     <div>
      
    <% if user_signed_in? %>
                  

    <h3> MY SUBSCRIPTIONS</h3>
    <% current_user.followees(Topic).each do |topic| %>
    <%= link_to topic.author, topic_path(topic) %> by 
    <%= topic.user.user_name  %><br> published <b style="color:red"><%= topic.frequency if topic.frequency %></b></p>
  
  <% end %>        
  <% else %>
     
  <p>This site is currently under production</b> </p><br><br>  
      
  <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default btn-lg" %><br><br>
  <% end %> 
  
  </div>  

