
     <div>
      <% if user_signed_in? %>

      <%= link_to 'SUBMIT AN ISSUE', new_link_path,class: "btn btn-primary btn-lg" %><br>
      <%= link_to 'CREATE NEWSLETTER', new_topic_path,class: "btn btn-primary btn-lg" %><br>
     
     <%= button_to"text", send_text_path, :method => :get,class: "btn btn-primary btn-lg" %><br>

      <h3> My Newsletters </h3>
      <% current_user.topics.each do |topic| %>
      <p><%= link_to topic.description, topic_path(topic) %><p> <hr>
      <% end %>
        
        
         
      <% else %>
     
       <p>Iscoop lets you create a personal newsletter that only a handful of your friends can subscribe to.</p>
       
        
        <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default btn-lg" %>
          <% end %> 
            </div>  

