
     <div>
      
    <% if user_signed_in? %>

   

<%= form_tag topics_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>












    <%# showing all the tags each showing boldness according to frequency the styling is in topics.css.scss%>
    <h3> POPULAR CATEGORIES</h3>
    <div id="tag_cloud">
     <% tag_cloud Topic.tag_counts, %w{s m l} do |tag, css_class| %>
     <%= link_to tag.name, tag_path(tag.name), class: css_class %>
     <% end %>
   </div><br><br><br><br>


                  

    <h3> MY SUBSCRIPTIONS</h3>
    <% current_user.followees(Topic).each do |topic| %>
    <%= link_to topic.description, topic_path(topic) %> by 
    <%= topic.user.user_name  %><br> published <b style="color:red"><%= topic.frequency if topic.frequency %></b></p>
  
  <% end %>        
  <% else %>
     
  <p>This site is currently under production</b> </p><br><br>  
      
  <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default btn-lg" %><br><br>
  <% end %> 
  
  </div>  

