
     <div>
      <% if user_signed_in? %>

      <%= link_to "CREATE NEWSLETTER", new_topic_path, class: "btn btn-default btn-lg" %><br><br>

      <%= link_to "SUBMIT ISSUE", new_link_path, class: "btn btn-default btn-lg" %>

      <h3> My Newsletters </h3>
     <% current_user.topics.each do |topic| %>
     <p><%= link_to topic.description, topic_path(topic) %> </p>
     
     <% end %>
           
  <% else %>
     
  <p>Iscoop is a new platform for engaging your followrs through personal newsletters </p>

  <p> It gives you the tools to curate rich media content from across all social media platforms and deliver it to your subscribers via sms for free</p>

  <p>sign up, create a newsletter, then share the url of the signup page to potential subscribers. anytime you publish a new issue, they will get a text message with a link to your post.</p>     

       
        
  <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default btn-lg" %>
  <% end %> 
  </div>  

