
     <div>
      
    <% if user_signed_in? %>


<%# if dont have any newsletter%>
<% if current_user.topics.blank? %>

<P> YOU HAVENT CREATED A PAGE YET. WHY DONT YOU CREATE ONE START SHARING WITH YOUR FRIENDS</P>

<%= link_to "CREATE PAGE", new_topic_path, class: "btn btn-default btn-lg" %>

<% else %>

<%= link_to "UPLOAD PHOTOS", new_link_path, class: "btn btn-default btn-lg" %><br><br><br>




  <h3> MY PAGE(S):</h3>
   <% current_user.topics.order("created_at DESC").each do |l| %>
  <P> <%= link_to l.description, topic_path(l) %></P><br><br>

<% end %> 
<% end %> 
                  

    

  <% else %>

  <h2 class="intro-welcome", color="#34495e"> A place just for family</h2> 

     
  <h4 class="intro-welcome"> Iscoop lets you create a family newsletter for sharing photos with family members.</h4><br><br> 

  <h4 class="intro-welcome">Create a newsletter, share the address with family members and anytime you upload photos, all your family members will get a link to the post via sms</h4>
  

   <p>Its absolutely free!</p>  
      
  <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default btn-lg" %><br><br>
  <% end %> 
  
  </div>  

