
     <div>
      
    <% if user_signed_in? %>


<%# if dont have any newsletter%>
<% if current_user.topics.blank? %>
<h3> MY PAGES:</h3>
<P> YOU HAVENT CREATED A PAGE YET. WHY DONT YOU CREATE ONE START SHARING WITH YOUR FRIENDS</P>

<% else %>


<%= render 'links/form' %>
<%= render 'link_attachments/form' %>



  <h3> MY PAGES:</h3>
   <% current_user.topics.order("created_at DESC").each do |l| %>
  <P> <%= link_to l.description, topic_path(l) %></P>

<% end %> 
<% end %> 
                  

    

  <% else %>
     
  <p>Iscoop lets you create a personal page where you can upload photos and embed your favorite videos and articles. Your friends and family can subscribe to your page and anytime you post on your page all your subscribers will get a text message with a link to your post.
  <br>Why a personal page? a lot of the stuff you post on social media gets seen by a small number of your fiends. but posting to your  personal page will guarantees that all your subscribers will get anything you share </p> 
      
  <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default btn-lg" %><br><br>
  <% end %> 
  
  </div>  

