
     <div>
      <% if user_signed_in? %>



      <%= link_to "CREATE A PAGE", new_topic_path, class: "btn btn-default btn-lg" %><br><br>

      <%= link_to "NEW POST", new_link_path, class: "btn btn-default btn-lg" %><br><br>

      
     

      
     <% current_user.topics.each do |topic| %>
     <p><%= link_to "MY PAGE", topic_path(topic) %> </p>
     
     <% end %>
           
  <% else %>
     
  <p>Iscoop let's you create a personal page where you can easily embed your posts across all social media platforms. </p>

  <p> It ensures that your most passionate subscribers don't miss out on anything you posted across all social media platforms.</p>

  <p>sign up, create a page, then share the url of the page with your subscribers. anytime you embed new posts, they will get a text message with a link to your post.</p>     

       
        
  <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default btn-lg" %>
  <% end %> 
  </div>  

