
 <% if user_signed_in? %>

<div>
<%= link_to "Find Newsletters To Follow", topics_path, class: "btn btn-default btn-lg" %>
</div><hr>

<h3> Newsletters I follow</h3>
<% current_user.followees(Topic).each do |topic| %>
<%= link_to topic.description, topic_path(topic) %> by 
 <%= topic.author if topic.author %><br> published <b style="color:red"><%= topic.frequency if topic.frequency %></b> in the <b style="color:red"><%= topic.time if topic.time %></b></p>
<% end %>

<% else %>

<p> You ned to login or sign up dear</p>

<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
 <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default btn-lg" %>

 <% end %>

