
<%= form_for @link, html: { multipart: true } do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form">
    <%= f.label :pate_the_link_here%>
    <%= f.text_field :url, class: "url",placeholder:" paste the link here and click 'GO'",size:"35",:autofocus => true %> <a href="#" class="create">GO</a>
  </div>

  <div class="result"></div><br><br>

  <div class="form-group">
    <%= f.label :recipient_phone_number %>
    <%= f.text_field :stuff, class: "form-control",placeholder:" full number including country code eg +1 for US",:autofocus => true %>
  </div>

<div class="form-group">
    <%= f.label :personal_note %>
    <%= f.text_area :description, class: "form-control",placeholder:" enter a personal note if you like",:autofocus => true %>
  </div>
 

  


 <script language="javascript" type="text/javascript"> 
      
      $('.create').on('click', function () {
    var url = $('.url').val();

    var $a = $('<a href="' + url + '"></a>');
    $('.result').empty().append($a);

    embedly('card', $a[0]);
    return false;
     });

      </script>
  
  <div class="actions">
    <%= f.submit "SUBMIT ISSUE" %>
  </div><br>



<% end %>
