
<%= form_for @link, html: { multipart: true } do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.collection_select :topic_id, current_user.topics, :id , :description %><br><br>



  
<%# multiple image upload stuff carrierwave %> 

<%= f.fields_for :link_attachments do |p| %>
     <div class="field">
       <%= p.label :Upload_photos %><br>
       <%= p.file_field :avatar, :multiple => true, name: "link_attachments[avatar][]" %>
     </div>
   <% end %>


  




















  <%# add message to post %> 

  <div class="form-group">
    <%= f.label :message %>
    <%= f.text_area :stuff, class: "form-control",placeholder:"add message for your subscribers..optional",:autofocus => true %>
  </div><br><br><br>

  <div class="actions">
    <%= f.submit "POST" %>
  </div><br>



<% end %>
