
<%= form_for @link, html: { multipart: true } do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.collection_select :topic_id, current_user.topics, :id , :description %>

  <div class="form-group">
    <%= f.label :personal_note %>
    <%= f.text_area :description, class: "form-control",placeholder:" enter a personal note if you like",:autofocus => true %>
  </div>

  <div class="form=group">
    <%= f.label :url_1 %>
    <%= f.text_field :url, class: "form-control",:autofocus => true %>
  </div>

  <div class="form">
    <%= f.label :url_2 %>
    <%= f.text_field :url2, class: "form-control",:autofocus => true %>
  </div>
  

  <div class="form">
    <%= f.label :url_3 %>
    <%= f.text_field :url3, class: "form-control",:autofocus => true %>
  </div>
  

  <div class="form">
    <%= f.label :url_4 %>
    <%= f.text_field :url4, class: "form-control",:autofocus => true %>
  </div>
  

  <div class="form">
    <%= f.label :url_5 %>
    <%= f.text_field :url5, class: "form-control",:autofocus => true %>
  </div>
  
  <div class="actions">
    <%= f.submit "SEND" %>
  </div><br>



<% end %>
