
<%= form_for @link, html: { multipart: true } do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= collection_select(:link, :topic_id, current_user.topics, :id, :description, {:prompt => "choose a newsletter to submit to" })  %><br><br>
  </div>

  

  
  
  <div class="form-group">
    <%= f.label :link_1 %>
    <%= f.text_field :url, class: "form-control",placeholder:" enter the first link",:autofocus => true %>
  </div>

  <div class="form-group">
    <%= f.label :link_2 %>
    <%= f.text_field :url2, class: "form-control",placeholder:" enter the second link",:autofocus => true %>
  </div>

  <div class="form-group">
    <%= f.label :link_3 %>
    <%= f.text_field :url3, class: "form-control",placeholder:" enter the third link",:autofocus => true %>
  </div>

  <div class="form-group">
    <%= f.label :link_4 %>
    <%= f.text_field :url4, class: "form-control",placeholder:" enter the fourth link",:autofocus => true %>
  </div>

  <div class="form-group">
    <%= f.label :link_5 %>
    <%= f.text_field :url5, class: "form-control",placeholder:" enter the fifth link",:autofocus => true %>
  </div>

  <div class="actions">
    <%= f.submit "SUBMIT ISSUE" %>
  </div><br>



<% end %>
