
<%= form_for @link, html: { multipart: true } do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= collection_select(:link, :topic_id, current_user.topics, :id, :description, {:prompt => "choose a newsletter to submit to" })  %><br><br>
  </div>

  

  
  <%= f.sir_trevor_text_area :stuff %>


  
  <div class="actions">
    <%= f.submit "SUBMIT ISSUE" %>
  </div><br>

<script language="javascript" type="text/javascript"> 
  $(function(){
  var editor = new SirTrevor.Editor({ el: $('.sir-trevor-area') });
});

  SirTrevor.setDefaults({
uploadUrl: "/images"
});
</script>

<% end %>
