
<%= form_for @link, html: { multipart: true } do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :choose_newsletter_to_submit_to %><br>
    <%= collection_select(:link, :topic_id, current_user.topics, :id, :description, {:prompt => false })  %><br><br>
  </div>

  <div class="form-group">
  <% f.label :few_word_before_adding_links %>
  <% f.text_area :description,placeholder:"what can you say here? i don't know. don't ask me ",class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image,class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :link %>
    <%= f.text_field :url,class: "form-control" %>
  </div>

  
  
  <div class="actions">
    <%= f.submit "SUBMIT ISSUE" %>
  </div>
<% end %>
