<p id="notice"></p>
 
 <p><%= @link.content %></p>
 <a class= "embedly-card" href= "<%= @link.url %>"> some title</a>
 <a class= "embedly-card" href= "<%= @link.url2 %>"> some title</a>
 <a class= "embedly-card" href= "<%= @link.url3 %>"> some title</a>
 <a class= "embedly-card" href= "<%= @link.url4 %>"> some title</a>
 <a class= "embedly-card" href= "<%= @link.url5 %>"> some title</a>
 

  

  
 


<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
