<p id="notice"></p>
 
 <%# view to show the message %> 

<h4 class="link-message"> <%=@link.stuff if @link.stuff %> </h4><br><br>


<%# view to show the images uploaded %> 

<% @link_attachments.each do |p| %>
  <p><%= image_tag p.avatar_url %></p>
<% end %>



<%# if user already likes the post then unlike it  and show number of likes%>
<% if current_user.likes?(@link) %>  

  <%= form_for(@link, url: link_path(@link)) do |f| %>
  
  <div class = "actions"> <%= f.submit "Unlike", class: "btn btn-default btn-lg" %> <B style="color:#3498db"><%=@link.likers(User).count %> like(s) </B> 

  	<%# number of impressions %>
  	<B style="color:#7f8c8d"> <%= "#{@link.impressionist_count} view(s)" %> </B>
  </div> 
  <% end %> <br> 
     
   <% else %>
  
  <%# else like it and show number of likes %>
  <%= form_for(@link, url: link_path(@link)) do |f| %>
  <div class = "actions"> <%= f.submit "like" ,class: "btn btn-default btn-lg" %> 

     <%# number of likes %>
  	<B style="color:#3498db"><%=@link.likers(User).count %> like(s) </B>  

  	<%# number of views %>
  	<B style="color:#7f8c8d"> <%= "#{@link.impressionist_count} view(s)" %> </B></div>

     
  
  <% end %> <br><br><br><br>

<% end %> 





 
  

  
 


