<p id="notice"></p>
 
 <p><%= render_sir_trevor(@link.stuff ) %><p>
 <a class= "embedly-card" href= "<%= @link.url %>"></a>
 <a class= "embedly-card" href= "<%= @link.url2 %>"></a>
 <a class= "embedly-card" href= "<%= @link.url3 %>"></a>
 <a class= "embedly-card" href= "<%= @link.url4 %>"></a>
 <a class= "embedly-card" href= "<%= @link.url5 %>"></a>
 
  

  
 


