<p id="notice"><%= notice %></p>

<p>
  <strong>Topic name:</strong>
  <strong><%= @link.topic.description %> by <%= @link.topic.author %></strong>
</p>

<p>
  
  <%= @link.description %>
</p>

  <p><%= @link.url %></p>
  <p><%= @link.url2 %></p>
  <p><%= @link.url3 %></p>
  <p><%= @link.url4 %></p>
  <p><%= @link.url5 %></p>




<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
