<nav style="background-color:white" class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div  class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "ISCOOP", my_topics_path, class: "navbar-brand" %>
    
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
      <li><%= link_to 'SUBMIT AN ISSUE', new_link_path %></li>
      <li><%= link_to 'CREATE NEWSLETTER', new_topic_path %></li>
      <li><%= link_to 'CONTACT', contact_path %></li>
      <li><%= link_to 'MY ACCOUNT', account_management_path %></li>
      <li><%= link_to "LOG OUT", destroy_user_session_path, method: :delete %></li> 
     <% else %>
     <li><%= link_to "SIGN IN", new_user_session_path %></li>
     <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>