<!DOCTYPE html>
<html>
<head>
  <title>Curator</title>
  <meta name="google-site-verification" content="jvgeLDJmvwYFHAB5VbJQieoVonap-AodutemYSbL6pU" />
 <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<%# facebook sdk for web stuff. make  xfbml to true if youu start using social plugins%>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '373447522818519',
      xfbml      : false,
      version    : 'v2.2'
    
    });
  


  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<%# end of facebook sdk for web stuff %>


<%= render 'layouts/header' %>
<div class="container">
<% flash.each do |name, msg| %>
     <%= content_tag(:div, msg, class: "alert alert-info") %>
<% end %>
<%= yield %>
</div>
<script src="//cdn.embedly.com/widgets/platform.js"></script>
</body>

 <footer>
<%= render 'layouts/footer' %>
</footer>

</html>
